
<!--<app-carta-cupon-->
<!--  [urlImagenCupon]="cupon.url"-->
<!--  [descripcion]="cupon.descripcion"-->
<!--  [nombreBoton]="cupon.nombreEstablecimiento"-->
<!--  (eventoDioClicEnBoton)="mensajeConsola($event)"-->
<!--  (eventoDioClicEnImagen)="mensajeConsola($event)"-->
<!--&gt;-->
<!--</app-carta-cupon>-->
<!--</div>-->

<ul>
  <li>
    <a [routerLink]="['inicio']" >
      Ir Inicio
    </a>
  </li>
  <li>
    <a [routerLink]="['detalleCupon']" >
      Ir a detalle cupon
    </a>
  </li>
</ul>

<!--<br>-->
<!--<button (click)="crearCupon()">-->
<!--  Crear Cupon-->
<!--</button>-->
<p>Cupones</p>
<div *ngFor="let cupon of arregloCupones">
  <img src="{{cupon.path_imagen_cupon}}" alt="" width="20%" height="20%">

  <p>Descripcion</p>
  <p>{{cupon.informacion_cupon}}</p>

  <button>Guardar</button>
</div>



<router-outlet>

</router-outlet>
