<div class="container">
  <div class="father uno">  <img src="https://img.freepik.com/vector-gratis/logo-entrada_9850-384.jpg?size=626&ext=jpg" alt="" width="400" height="400"></div>
  <div class="father dos">

    <div class="wrapper fadeInDown">
      <div id="formContent">


<!--AQUI-->
      <form #formularioArticulo="ngForm"
      (ngSubmit)="crearArticulo(formularioArticulo)">
  <div>
<!--    <label for="nombre_articulo">Nombre: </label>-->
    <input id="nombre_articulo"
           type="text" name="nombre_articulo"
           [(ngModel)]="nombreArticulo"
           required
           #nombreArticuloCampo="ngModel"
           minlength="3"
           class="fadeIn second"
           placeholder="Nombre"
    >
    <div *ngIf="nombreArticuloCampo.touched && nombreArticuloCampo.errors">
      <p *ngIf="nombreArticuloCampo.errors.required">
        Error: Campo requerido
      </p>
      <p *ngIf="nombreArticuloCampo.errors.minlength">
        Error: Longitud minima 3
      </p>
    </div>
  </div>
  <div>
<!--    <label for="precio_articulo">Precio: </label>-->
    <input id="precio_articulo"
           type="number"  step="0.01" min="0"
           name="precio_articulo"
           [(ngModel)]="precioArticulo"
           required
           #precioArticuloCampo="ngModel"
           minlength="3"
           class="fadeIn third"
           placeholder="Precio 0.00"
    >
    <div *ngIf="precioArticuloCampo.touched && precioArticuloCampo.errors">
      <p *ngIf="precioArticuloCampo.errors.required">
        Error: Campo requerido
      </p>
    </div>
  </div>
  <!--BOTONES-->
  <div>
    <button type="button" (click)="ayudaCrearArticulo()">
      Ayuda
    </button>
    <button type="submit" [disabled]="!formularioArticulo.form.valid">
      Submit
    </button>
    <button type="reset">
      Reset
    </button>
  </div>

</form>

<!--AQUI-->

      </div>
    </div>
  </div>

</div>

