<p>ruta-articulo works!</p>
<h1>Articulos</h1>
<button [routerLink]="['/crearArticulo']" >Crear Articulo</button>

<router-outlet></router-outlet>
<br>
<label for="busquedaId"></label>
<input id="busquedaId" name="busqueda" type="text" [(ngModel)]="busquedaModeloArticulo">
<button (click)="filtrarArreglo()">Buscar por nombre</button>

<table>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Precio</th>
  </tr>
  <tr *ngFor="let articulo of arregloArticulo">
    <td>{{articulo.id}}</td>
    <td>{{articulo.nombre_articulo}}</td>
    <td>{{articulo.precio_articulo}}</td>
    <td>
      <button (click)="irAEditarArticulo(articulo.id)">
        Editar
      </button>
      <button (click)="eliminarArticulo(articulo.id)">
        Eliminar
      </button>
    </td>
  </tr>
</table>
